<form class="p-1" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="alert alert-warning">
    Default password: <b>user12345</b>
  </div>
  <div class="form-floating mb-3">
    <input
      formControlName="name"
      [class.invalid]="name?.touched && name?.invalid"
      type="text"
      class="form-control"
      id="floatingname"
      placeholder="Full Name"
    >
    <label for="floatingname">Full Name</label>
    <p class="text-danger font-weight-bold p-0 m-0" *ngIf="name?.touched && name?.invalid">{{ name?.errors?.message }}</p>
  </div>

  <div class="form-floating mb-3">
    <input
      formControlName="phone_number"
      [class.invalid]="phone_number?.touched && phone_number?.invalid"
      type="text"
      class="form-control"
      id="floatingPhoneNumber"
      placeholder="Phone Number"
    >
    <label for="floatingPhoneNumber">Phone Number</label>
    <p class="text-danger font-weight-bold p-0 m-0" *ngIf="phone_number?.touched && phone_number?.invalid">{{ phone_number?.errors?.message }}</p>
  </div>

  <div class="form-floating mb-3">
    <input
      formControlName="city"
      [class.invalid]="city?.touched && city?.invalid"
      type="text"
      class="form-control"
      id="floatingCity"
      placeholder="City"
    >
    <label for="floatingCity">City</label>
    <p class="text-danger font-weight-bold p-0 m-0" *ngIf="city?.touched && city?.invalid">{{ city?.errors?.message }}</p>
  </div>

  <div class="form-floating mb-3">
    <input
      formControlName="region"
      [class.invalid]="region?.touched && region?.invalid"
      type="text"
      class="form-control"
      id="floatingRegion"
      placeholder="Region"
    >
    <label for="floatingRegion">Region</label>
    <p class="text-danger font-weight-bold p-0 m-0" *ngIf="region?.touched && region?.invalid">{{ region?.errors?.message }}</p>
  </div>

  <div class="form-floating mb-3">
    <input
      formControlName="district"
      [class.invalid]="district?.touched && district?.invalid"
      type="text"
      class="form-control"
      id="floatingDistrict"
      placeholder="District"
    >
    <label for="floatingDistrict">District</label>
    <p class="text-danger font-weight-bold p-0 m-0" *ngIf="district?.touched && district?.invalid">{{ district?.errors?.message }}</p>
  </div>

  <div class="form-floating mb-3">
    <input
      formControlName="house_number"
      [class.invalid]="house_number?.touched && house_number?.invalid"
      type="text"
      class="form-control"
      id="floatingHouseNumber"
      placeholder="House Number"
    >
    <label for="floatingHouseNumber">House Number</label>
    <p class="text-danger font-weight-bold p-0 m-0" *ngIf="house_number?.touched && house_number?.invalid">{{ house_number?.errors?.message }}</p>
  </div>

  <div class="form-floating mb-3">
    <input
      formControlName="residence_id"
      [class.invalid]="residence_id?.touched && residence_id?.invalid"
      type="text"
      class="form-control"
      id="floatingResidenceID"
      placeholder="Residence ID"
    >
    <label for="floatingResidenceID">Residence ID</label>
    <p class="text-danger font-weight-bold p-0 m-0" *ngIf="residence_id?.touched && residence_id?.invalid">{{ residence_id?.errors?.message }}</p>
  </div>

  <div class="form-floating mb-3">
    <input
      formControlName="coordinates"
      [class.invalid]="coordinates?.touched && coordinates?.invalid"
      type="text"
      class="form-control"
      id="floatingCoordinates"
      placeholder="Coordinates"
    >
    <label for="floatingCoordinates">Coordinates</label>
    <p class="text-danger font-weight-bold p-0 m-0" *ngIf="coordinates?.touched && coordinates?.invalid">{{ coordinates?.errors?.message }}</p>
  </div>
  
  <div class="form-floating mb-3">
    <input
      formControlName="email"
      [class.invalid]="email?.touched && email?.invalid"
      type="email"
      class="form-control"
      id="floatingEmail"
      placeholder="Email"
    >
    <label for="floatingEmail">Email</label>
    <p class="text-danger font-weight-bold p-0 m-0" *ngIf="email?.touched && email?.invalid">{{ email?.errors?.message }}</p>
  </div>

  <div class="form-floating mb-3">
    <select
      formControlName="roleId"
      [class.invalid]="roleId?.touched && roleId?.invalid"
      type="text"
      class="form-control"
      id="floatingRole"
      placeholder="Role"
    >
      <option [value]="">-- Select Role --</option>
      <option *ngFor="let role of roles" [value]="role.id">
        {{ role.name }}
      </option>
    </select>
    <label for="floatingRole">Role</label>
    <p class="text-danger font-weight-bold p-0 m-0" *ngIf="roleId?.touched && roleId?.invalid">{{ roleId?.errors?.message }}</p>
  </div>
  <button
    class="w-100 btn btn-lg btn-primary"
    [class.disabled]="form.invalid"
    [type]="form.valid ? 'submit' : 'button'"
    >
    Add
    <i class="bi bi-file-earmark-plus-fill"></i>
  </button>
</form>
