
<ng-container *ngIf="columns">
  <form class="p-1" [formGroup]="form" autocomplete="off">
    <div class="row">
      <div class="col col-md-12">
        <!-- Sensors List -->
        <div class="form-floating mb-3">
          <select
            formControlName="sensor"
            type="text"
            class="form-control"
            id="floatingChartSelector"
            placeholder="Smart Appliances"
            (change)="getSensorData($event.target)"
          >
            <option *ngFor="let sensor of sensorsList" [value]="sensor.sensor.id"> {{ sensor.sensor.user_defined_name }} </option>
          </select>
          <label for="floatingChartSelector">Smart Appliances</label>
        </div>
      </div>

      <!-- <div class="col col-md-4"> -->
        <!-- Report Type -->
        <!-- <div class="form-floating mb-3">
          <select
            [formControlName]="'reportType'"
            type="text"
            class="form-control"
            id="floatingChartSelector"
            placeholder="Report Type"
            (change)="setSelectedColumns()"
          >
            <option [value]="'usage_va'">Power Usage in Terms on Voltage and Current</option>
            <option [value]="'usage_power'">Power Usage in Terms on Power</option>
            <option [value]="'usage_losses'">Power Usage in Terms on Power Usage vs Losses</option>
          </select>
          <label for="floatingChartSelector">Report Type</label>
        </div> -->
      <!-- </div> -->
    </div>


    <ng-container  *ngIf="selectedColumns?.value.length > 0">
      <!-- <span [ngSwitch]="chartOption?.value"> -->

        <!-- *ngSwitchCase="'line'" -->
        <app-line-chart
          [columns]="selectedColumns?.value"
          [sensor]="sensors"
        ></app-line-chart>

        <!-- <app-area-chart
          *ngSwitchCase="'area'"
          [columns]="selectedColumns?.value"
          [sensor]="sensors"
        ></app-area-chart>

        <app-column-chart
          *ngSwitchCase="'column'"
          [columns]="selectedColumns?.value"
          [sensor]="sensors"
        ></app-column-chart>

        <app-pie-chart
          *ngSwitchCase="'pie'"
          [columns]="selectedColumns?.value"
          [sensor]="sensors"
        ></app-pie-chart> -->

        <!-- <div
          *ngSwitchDefault
          class="alert alert-warning">
          Select a chart type to preview report.
        </div>

      </span> -->
    </ng-container>

  </form>
</ng-container>

<ng-container *ngIf="!selectedColumns || !sensorData">
  <div class="alert alert-info">
    Select a smart appliances on the selection above to get detailed data.
  </div>
</ng-container>

<!-- <ng-container *ngIf="!sensorData">

</ng-container> -->

