<form class="p-1" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">

  <div class="form-floating mb-3">
    <select
      id="User"
      class="form-control"
      aria-placeholder="User"
      [formControlName]="'token'"
      (change)="getUserSensors()"
    >
      <option *ngFor="let user of users" [value]="user.token">{{ "#" + (user.id) + ": " + (user.full_name ? user.full_name : 'N/A') }}</option>
    </select>
    <label class="my-1 me-2" for="User">User</label>
  </div>

  <button class="btn btn-link btn-block mb-4 w-100" type="button" *ngIf="token?.value && token?.value !== 'null' && userSensors.length > 0" (click)="downloadExcel()">
    <i class="bi bi-download"></i>
    Download Excel and Fill Test Values for: {{ token?.value }}
  </button>

  <div class="form-floating mb-3" *ngIf="excelExportData.length > 0">
    <input
      type="file"
      class="form-control"
      (change)="onFileChange($event)"
      accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
      placeholder="Upload Test Data"
      id="floatingFile"
      >
    <label for="floatingFile">Upload Test Data</label>
  </div>

  <div class="alert alert-warning" *ngIf="!approvedToImport && this.file">
    Excel/CSV File contains invalid columns, excel file must have the following columns
    (<span *ngFor="let col of importColumns; let i = index">{{ col + (i !== importColumns.length - 1 ? ', ' : '') }}</span>)
  </div>

  <div class="alert alert-warning" *ngIf="!token?.value || token?.value === 'null'">
    No token found, please select user or generate smart meter token for this user first.
  </div>

  <button
    class="w-100 btn btn-danger"
    [class.disabled]="(!form.valid || token?.value === 'null' || excelImportData.length == 0)"
    [type]="(form.valid && token?.value !== 'null') ? 'submit' : 'button'"
    >
    Import Test Data
    <i class="bi bi-check-circle"></i>
  </button>
</form>
