<form class="p-1" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">

  <div class="form-floating mb-3">
    <select
      formControlName="region"
      [class.invalid]="region?.touched && region?.invalid"
      class="form-control"
      id="floatingRegion"
      placeholder="Region"
      (change)="filterDistricts()"
    >
    <optgroup label="Select Region">
      <option *ngFor="let region of regions" [value]="region.name">
        {{ region.name }}
      </option>
    </optgroup>
    </select>
    <label for="floatingRegion">Region</label>
    <p class="text-danger font-weight-bold p-0 m-0" *ngIf="region?.touched && region?.invalid">{{ region?.errors?.message }}</p>
  </div>

  <div class="form-floating mb-3">
    <select
      formControlName="district"
      [class.invalid]="district?.touched && district?.invalid"
      class="form-control"
      id="floatingDistrict"
      placeholder="District"
    >
      <optgroup label="Select District">
        <option *ngFor="let d of districts" [value]="d">
          {{ d }}
        </option>
      </optgroup>
    </select>
    <label for="floatingDistrict">District</label>
    <p class="text-danger font-weight-bold p-0 m-0" *ngIf="district?.touched && district?.invalid">{{ district?.errors?.message }}</p>
  </div>

  <div class="form-floating mb-3">
    <textarea
      formControlName="message"
      [class.invalid]="message?.touched && message?.invalid"
      type="text"
      class="form-control"
      id="floatingInput"
      style="height: 100px"
      placeholder="Message to Send"
    ></textarea>
    <label for="floatingInput">Message to Send</label>
    <p class="text-danger font-weight-bold p-0 m-0" *ngIf="message?.touched && message?.invalid">{{ message?.errors?.message }}</p>
  </div>

  <button
    class="w-100 btn btn-lg btn-primary"
    [class.disabled]="form.invalid"
    [type]="form.valid ? 'submit' : 'button'"
    >
    Send
    <i class="bi bi-envelop-fill"></i>
  </button>
</form>
