<div id="printContent">
  <div class="row" *ngIf="data">
    <h3 class="text-center mt-2">Payment Receipt</h3>
    <h3 class="text-center mt-2">{{ data.transaction_id }}</h3>
    <br>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <tr>
          <th>Payer</th>
          <td>{{ data.full_name }}</td>
        </tr>

        <tr>
          <th>Payment Receipt</th>
          <td>{{ data.transaction_id }}</td>
        </tr>

        <tr>
          <th>Transaction Date</th>
          <td>{{ data.transaction_date }}</td>
        </tr>

        <tr>
          <th>Amount</th>
          <td>{{ data.amount | currency:'TZS' }}</td>
        </tr>

        <tr>
          <th>Payment Description</th>
          <td>{{ data.description }}</td>
        </tr>
      </table>
    </div>

  </div>
  <div class="alert alert-warning" *ngIf="!data">No data found.</div>
</div>
