<div class="p-1">
  <div class="form-floating mb-3">
    <input
      type="email"
      class="form-control"
      id="floatingEmail"
      placeholder="Email"
      [value]="data.email"
      readonly
    >
    <label for="floatingEmail">Email</label>
   </div>

   <div class="form-floating mb-3">
    <input
      formControlName="phone_number"
      type="text"
      class="form-control"
      [value]="data.phone_number"
      readonly
      id="floatingPhoneNumber"
      placeholder="Phone Number"
    >
    <label for="floatingPhoneNumber">Phone Number</label>
  </div>

  <div class="form-floating mb-3">
    <input
      formControlName="city"
      type="text"
      class="form-control"
      [value]="data.city"
      readonly
      id="floatingCity"
      placeholder="City"
    >
    <label for="floatingCity">City</label>
  </div>

  <div class="form-floating mb-3">
    <input
      formControlName="region"
      type="text"
      class="form-control"
      [value]="data.region"
      readonly
      id="floatingRegion"
      placeholder="Region"
    >
    <label for="floatingRegion">Region</label>
  </div>

  <div class="form-floating mb-3">
    <input
      formControlName="district"
      type="text"
      class="form-control"
      [value]="data.district"
      readonly
      id="floatingDistrict"
      placeholder="District"
    >
    <label for="floatingDistrict">District</label>
  </div>

  <div class="form-floating mb-3">
    <input
      formControlName="house_number"
      type="text"
      class="form-control"
      [value]="data.house_number"
      readonly
      id="floatingHouseNumber"
      placeholder="House Number"
    >
    <label for="floatingHouseNumber">House Number</label>
  </div>

  <div class="form-floating mb-3">
    <input
      formControlName="residence_id"
      type="text"
      class="form-control"
      [value]="data.residence_id"
      readonly
      id="floatingResidenceID"
      placeholder="Residence ID"
    >
    <label for="floatingResidenceID">Residence ID</label>
  </div>

  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingRole"
      placeholder="Role"
      [value]="data.role_name"
      readonly
    >
  <label for="floatingRole">Role</label>
    </div>
</div>
